.background {
    background: linear-gradient(180deg, #5F3496 0%, rgba(92, 69, 153, 0.977941) 0%, rgba(82, 129, 164, 0.9) 33.73%, rgba(113, 129, 109, 0.81) 69.57%, #CDC73E 100%, #504C44 100%);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

html, body {
    height: 100%;
}

.nav-link {
  font-family: Livvic;
  font-size: 18px;
}

.navbar-fixed-top {
  width: 100%;
  overflow-x: hidden;
  z-index: 1;
  position: fixed;
}

.title {
  font-family: "Livvic";
  font-size: 43px;
  font-weight: bold;
  color: white;
}

.centered {
  text-align: center;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.spacing {
  margin: 20px;
}

button {
  border-radius: 50px;
  width: 235px;
  height: 50px;
  font-size: 18px;
  background-color: rgba(67, 64, 62, 0.88);;
  color: #ffffff;
  border: rgba(67, 64, 62, 0.88);;
  text-decoration: none;
}

button a {
  color: white;
  font-family: "Livvic";
  text-decoration: none;
}

.page2 {
  background: linear-gradient(180deg, #DAD447 12.25%, rgba(139, 166, 104, 0.73) 37.5%, rgba(12, 113, 103, 0.53) 69.36%, rgba(82, 164, 164, 0.85) 100%, rgba(5, 109, 103, 0.65) 100%), #CCC6B8;
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}

.wrap-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrap-row-aboutme {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1%;
}

.wrapper {
  padding-top: 1.5%;
}

.aboutleft {
   display: flex; 
  justify-content: center;
  text-align: center;
  align-items: center;
}

.aboutright {
  justify-content: center;
  align-items: center;
  padding-left: 0%;
}

.paragraph {
  margin-top: 0.8%;

  font-family: Livvic;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  text-align: center;
  justify-content: center;
  color: #171331;
}

.paragraph-2 {
  margin-top: 0.8%;
  font-family: Livvic;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  text-align: center;
  justify-content: center;
  color: #171331;
}

.page3 {
  background: linear-gradient(180deg, rgba(5, 109, 103, 0.52) 0%, rgba(146, 52, 100, 0.67) 70.31%);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}
 
.titlepage3 {
  font-family: "Kaushan Script";
  font-size: 70px;
}

.centered1 {
  justify-content: center;
  text-align: center;
  padding-top: 0.5%;
}

.wrap-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-top: 1%;
}

.margin-skills {
  margin: 30px;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

.hardskills {
  font-family: Livvic;
  font-size: 20px;
}

.wrap-column1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-top: 1%;
}

.otherskills {
  font-family: Livvic;
  font-size: 20px;
}

.wrap-column2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-top: 2%;
}

.softskills {
  font-family: Livvic;
  font-size: 20px;
}

.foto-skills {
  justify-content: center;
  margin-top: 3.5rem;
}

.page4 {
  background: linear-gradient(180deg, rgba(146, 52, 100, 0.63) 0%, rgba(146, 52, 100, 0.6048) 25%, rgba(209, 204, 70, 0.4977) 83.85%);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}

.titlepage4 {
  font-family: Satisfy;
  font-size: 70px;
  margin-top: 1%;
}

.experience {
  font-family: Livvic;
  font-size: 20px;
  margin-left: 8%;
  margin-top: 4%;
}

.titlepage5 {
  font-family: "Bebas Neue";
  font-size: 58px;
  margin-top: 2%;
}

.page5 {
  background: linear-gradient(180deg, rgba(209, 204, 70, 0.57) 17.19%, rgba(250, 99, 14, 0.44) 51.92%, rgba(249, 38, 38, 0.62) 88.02%);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.html {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
} 

section {
  width: 100%; 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -6%;
}

.container {
  width: 100%; 
  max-width: 80rem; 
  margin: 0 auto;
  padding: 0 1rem; 
  align-items: center;
  justify-content: center;
}

.accordion-item {
  background-color: #5B5F43;
  border-radius: .4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
}

.accordion-link {
  font-size: 1.2rem; 
  font-family: Livvic;
  color: white;
  text-decoration: none;
  background-color: #5B5F43;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.accordion-link i {
  color: #e7d5ff;
  padding: .5rem;
}

.accordion-link .ion-md-remove {
  display: none;
}

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #878484;
}

.answer::before {
  content: "";
  position: absolute;
  width: .6rem;
  height: 90%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.answer p {
  font-size: 1rem; 
  color: white;
  padding: 0.5rem;
  font-family: Livvic;
}

.accordion-item:target .answer {
  max-height: 5rem;
  overflow-y: scroll;
}

.accordion-item: target .accordion-link .ion-md.add {
  display: none;
}

.accordion-item: target .accordion-link .ion-md.rempve {
  display: black;
}

.page6 {
  background: linear-gradient(180deg, rgba(249, 38, 38, 0.61) 0%, rgba(254, 250, 254, 0) 47.4%, rgba(163, 59, 165, 0.47) 83.33%);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}

.contact {
  font-family: Livvic;
  font-size: 18px;
}

.margin-contact {
  margin: 20px;
  font-size: 23px;
}

.wrap-column-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-center {
  text-align: center;
  justify-content: center;
  padding-top: 3%;
}

.gallery {
  background: linear-gradient(180deg, rgba(130, 70, 112, 0.73) 0%, #A2708A 39.06%, #BDA0BC 100%), #BDA0BC;
  text-align: center;
  color: white;
  font-family: Livvic;
  font-weight: bold;
}

.gallery-title {
  font-family: Satisfy;
  font-size: 54px;
  margin-top: 4%;
}

.centered2 {
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.margin-gallery {
  margin: 30px;
}

.gallery-1 {
  background: linear-gradient(180deg, #BDA0BC 0%, #A2708A 50%, rgba(130, 70, 112, 0.86) 100%), #BDA0BC;
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  font-family: Livvic;
  font-weight: bold;
}

.gallery-2 {
  background: linear-gradient(180deg, rgba(130, 70, 112, 0.86) 0%, #BDA0BC 100%), rgba(130, 70, 112, 0.47);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  font-family: Livvic;
  font-weight: bold;
}

.button-center-gallery {
  text-align: center;
  justify-content: center;
  padding-bottom: 1%; 
}

img.photo-yola {
  width: 255px;
  height: 255px;
}

@media screen and (max-width: 700px) {

.title {
  font-size: 25px ;
}

.spacing {
  margin: 10px;
}

.wrap-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  width: 135px;
  height: 50px;
  font-size: 10px;
}

.wrap-row-aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1%;
}

.paragraph {
  position: absolute;
  margin-top: 8%;
  font-family: Livvic;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  color: #171331;
}

img.photo-yola {
  width: 150px;
  height: 150px;
}

img.aboutme {
  justify-content: center;
}

.aboutright {
  width: 80%;
}

.paragraph-2 {
  visibility: hidden;
}

.titlepage3 {
  font-size: 55px;
}

.margin-skills {
  margin: 0.05px;
}

.hardskills {
  font-size: 10px;
}

h1 {
  font-size: 15px;
}

h2 {
  font-size: 13px;
}

.otherskills {
  font-size: 10px;
}

.foto-skills {
  justify-content: center;
  text-align: center;
}

.softskills {
  font-size: 10px;
}

.titlepage4 {
  font-size: 45px;
}

.experience {
  font-size: 15px;
}

.titlepage5 {
  font-size: 33px;
}

.contact {
  height: 50%;
  align-items: center;
  font-family: "Livvic";
  font-weight: bold;
  text-align: center;
}

.margin-contact strong {
  font-size: 4.2vw;
}

.gallery-title {
  margin-top: 16%;
}