{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/stylestory1.css' %}">
{% endblock %}

{% block content %}
<div class="background">
    <h1>My Biodata</h1>
    <div class="wrap-column">
        <div class="wrap-row">
            <img src="{% static 'css/yola.jpg' %}" alt="yola" style="width:300px;height:450px;">

            <div class="biodata">
                <p>Nama &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : &nbsp; Yolanda Emanuella Sutanto</p>
                <p>NPM &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : &nbsp; 1906299206</p>
                <p>Angkatan &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:&nbsp; &nbsp;Maung 2019</p>
                <p>Tempat Kuliah &nbsp;: &nbsp; Universitas Indonesia</p>
                <p>Hobi &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : &nbsp; Bermain piano, mendengarkan musik, &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;bermain badminton, bermain biola,<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;menonton drama.</p>
                <p><strong>- Deskripsi - </strong><br>Nama panggilan saya adalah Yola. Saya lahir di Cirebon pada tanggal 24 September 2001.
                Saya memiliki golongan darah O, begitupun juga dengan anggota keluarga saya. Warna kesukaan
                saya adalah ungu dan biru. Saya memiliki sifat yang cukup pendiam dan kurang percaya diri,
                namun saya merupakan orang yang teliti.</p>
            </div>

            <div class="wrap-column">
                <div class="tabel">
                    <table style="width:100%" border=1>
                        <p><strong>Riwayat Pendidikan: </strong></p>
                        <tr>
                            <td>Universitas Indonesia</td>
                            <td>2019 - saat ini</td>
                        </tr>
        
                        <tr>
                            <td>SMA Santa Maria 1 Cirebon</td>
                            <td>2016 - 2019</td>
                        </tr>
                        <tr>
        
                            <td>SMP Santa Maria Cirebon</td>
                            <td>2013 - 2016</td>
                        </tr>
        
                        <tr>
                            <td>SDK BPK Penabur Cirebon</td>
                            <td>2007 - 2013</td>
                        </tr>
        
                        <tr>
                            <td>TK Permata Bunda Cirebon</td>
                            <td>2005 - 2007</td>
                        </tr>
                    </table>
                </div>

                <div class="socmed">
                    <br><p style="font-family:Solway;font-size:18px"><strong>Social Media:</strong></p>
                    <div class="wrap-column">
                        <div class="wrap-row-socmed">
                            <img src="{% static 'css/instagram.png' %}" alt="instagram" style="width:60px; height:60px; margin:0.5rem;">
                            <p style="font-family:Solway;font-size:17px">yolandaesutanto</p>
                        </div>

                        <div class="wrap-row-socmed">
                            <img src="{% static 'css/line.png' %}" alt="line" style="width:60px; height:60px; margin:0.5rem;">
                            <p style="font-family:Solway;font-size:17px">yolandaesutanto</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}