{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/stylestory3.css' %}">
{% endblock %}

{% block content %}

<div class="gallery">
  <br/>
  <div class="gallery-title">
    Gallery
  </div>
  <br/>
  <div class="centered2">
    The most in this gallery are my piano duet play videos. <br/>
    Hope you enjoy :)
  </div>
  <br/>
  <br/>

  <div class="wrap-flex">
    <div class="margin-gallery">
      <iframe width="350" height="300" src="https://www.youtube.com/embed/jURXIMBvUII" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br />
      Flood Time - Eric Thiman
    </div>

    <div class="margin-gallery">
      <video width="350" height="300" controls>
        <source src="{% static 'css/oholynightt.mp4' %}" type="video/mp4" />
      </video>
      <br />
      O Holy Night - Adolphe Adam
    </div>

    <div class="margin-gallery">
      <video width="350" height="300" controls>
        <source src="{% static 'css/riverflowsinyouu.mp4' %}" type="video/mp4" />
      </video>
      <br />
      River Flows in You - Yiruma
    </div>

    <div class="margin-gallery">
      <video width="350" height="300" controls>
        <source src="{% static 'css/allegretto-in-f.mp4' %}" type="video/mp4" />
      </video>
      <br />
      Allegretto in F - J.C.F Bach <br/> (4 hands cover) 
    </div>

    <div class="margin-gallery">
      <video width="350" height="300" controls>
        <source src="{% static 'css/beautyandthebeast.mp4' %}" type="video/mp4" />
      </video>
      <br />
      Beauty and The Beast <br/> from "Beauty and The Beast" [1/3]
    </div>

    <div class="margin-gallery">
      <video width="350" height="300" controls>
        <source src="{% static 'css/part2.mp4' %}" type="video/mp4" />
      </video>
      <br />
      Beauty and The Beast <br/> from "Beauty and The Beast" [2/3]
    </div>

    <div class="margin-gallery">
      <video width="350" height="300" controls>
        <source src="{% static 'css/part3.mp4' %}" type="video/mp4" />
      </video>
      <br />
      Beauty and The Beast <br/> from "Beauty and The Beast" [3/3]
    </div>
  </div>

  <div class="button-center-gallery">
    <div class="spacing">
      <button><a href="{% url 'story3:story3page' %}">Back to home</a></button>
    </div>
  </div>
</div>
{% endblock %}