{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/stylestory3.css' %}">
{% endblock %}

{% block content %}
<div class="background" id="home">
    <div class="centered">
        <div class="title">
            Welcome!
            <br/>
            How can I help you?
            <br/>
        </div>    
        <div class="wrap-row">
            <div class="spacing">
              <button>
                <a href="#aboutme">I want to explore more...</a>
              </button>
            </div>
            <div class="spacing">
              <button><a href="#skills">I'm looking for hire...</a></button>
            </div>
        </div>
    </div>
</div>

<div class="page2" id="aboutme">
    <div class="wrapper">
        <div class="aboutme">
            <div style="display: flex; justify-content: center;">
                <img src="{% static 'css/aboutme.png' %}" alt="aboutme" style="width:210px;height:150px">
            </div> 
        </div>     
        <div class="wrap-row-aboutme">
            <div class="aboutleft">
                <img src="{% static 'css/yola-circle.png' %}" alt="yola" class="photo-yola" >
            </div>

            <div class="aboutright">
                <div class="paragraph">
                    Hello! My name is Yolanda Emanuella Sutanto. <br/> You can call me Yola. I’m currently studying at Faculty of Computer Science <br/> Universitas Indonesia majoring in Information Systems. <br/> 
                    I have 1 sister and 2 brothers. I love playing and listening to the music. <br/> I am a conscientious, patient, polite, and <br/> responsible person. 
                </div>

                <div class="paragraph-2">
                    Apart from that, I also have so many weakness, such as <br/> introvert, shy, and less-confident person. <br/> 
                    However, I will always try to do my best and fix all my weakness. <br/><br/> I hope we can make friends and work well!
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page3" id="skills">
    <div class="centered1">
        <div class="titlepage3">
            Skills
        </div>
    </div>

    <div class="wrap-row">
        <div class="margin-skills">
            <div class="hardskills">
                <div class="wrap-column">
                    <h1><strong>Hard skills:</strong></h1><br/>
                    <h2><strong>1. Computer</strong></h2>
                    - Programming Language <br/>
                    (Python and Java) <br/>
                    - Microsoft Office <br/>
                    - Typing and typing speed <br/>
                    - Online research <br/><br/>
                    <h2><strong>2. Language</strong></h2>
                    - Indonesian <br/>
                    - English <br/>
                </div>
            </div>
        </div>
        
        <div class="margin-skills">
            <div class="otherskills">
                <div class="wrap-column1">
                    <h1><strong>Other skills:</strong></h1><br/>
                    - Playing the piano <br/>
                    - Playing the violin <br/>
                    - Abacus <br/>
                    - Sight-reading <br/>
                    <div class="foto-skills">
                        <div style="display: flex; justify-content: center;">
                            <img src="{% static 'css/skills.png' %}" alt="skills" style="width:125px;height:125px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="margin-skills">
            <div class="softskills">
                <div class="wrap-column2">
                    <h1><strong>Soft skills:</strong></h1><br/>
                    - Ethics / Integrity <br/>
                    - Critical thinking <br/>
                    - Commitment <br/>
                    - Motivation <br/>
                    - Team work <br/>
                    - Self management <br/>
                    - Flexible <br/>
                    - Time management <br/>
                </div>
            </div>
        </div>

        </div>
    </div>

</div>

<div class="page4" id="experience">
    <div class="centered1">
        <div class="titlepage4">
            My Experience
        </div>
    </div>

    <div class="experience">
        <h1><strong>Organizational + Project Experience:</strong></h1><br/>
        <strong>- Member Consulting SIG at SISTEM Fasilkom UI 2020</strong><br/>
        &nbsp; (On Going) Final Project in Collaboration with Kotakode <br/>
        <strong>- Avishai Ensemble (as Violinist)</strong><br/>
        &nbsp; Playing music for Sunday Service / the event in Cirebon and its surroundings <br/><br/>
        <h1><strong>Committee Experience:</strong></h1><br/>
        - Staff of Academic Division at PMB Fasilkom UI 2020 <br/>
        - Staff of Ticketing Division at Universitas Indonesia Goes to Cirebon 2020 <br/>
        - Staff of Public Relations and Publications Division at Social Project by New Fasilkom UI Students 2020
    </div>
</div>

<div class="page5" id="faq">
    <div class="centered1">
        <div class="titlepage5">
            FREQUENTLY ASKED QUESTIONS
        </div>
    </div>

    <section>
        <div class="container">
            <div class="accordion">
                <div class="accordion-item" id="question1">
                    <a class="accordion-link" href="#question1">
                        Can you tell me about your college?
                        <i class="icon ion-md-add"></i>
                        <i class="icon ion-md-remove"></i>
                    </a>
                    <div class="answer">
                        <p>
                            Now, I'm a 2nd year student at Universitas Indonesia, and a 3rd term student. Due to circumstances that are still not possible, the method of learning in this 3rd term is online through our homes. In this 3rd term, the courses
                            are getting more and more difficult, and there are also so many assignments that given. I feel very tired about
                            this 3rd term which has been running until now entering the week 3. But, I will do my best until the end of this semester.
                        </p>
                    </div>
                </div>

                <div class="accordion-item" id="question2">
                    <a class="accordion-link" href="#question2">
                        How old are you? And where are you from?
                        <i class="icon ion-md-add"></i>
                        <i class="icon ion-md-remove"></i>
                    </a>
                    <div class="answer">
                        <p>
                            I'm 19 years old, and I'm from Cirebon, a small city in West Java Province.
                        </p>
                    </div>
                </div>

                <div class="accordion-item" id="question3">
                    <a class="accordion-link" href="#question3">
                        What language do you use to create this website?
                        <i class="icon ion-md-add"></i>
                        <i class="icon ion-md-remove"></i>
                    </a>
                    <div class="answer">
                        <p>
                            I use HTML and CSS.
                        </p>
                    </div>
                </div>

                <div class="accordion-item" id="question4">
                    <a class="accordion-link" href="#question4">
                        What do you want to be after graduating from college?
                        <i class="icon ion-md-add"></i>
                        <i class="icon ion-md-remove"></i>
                    </a>
                    <div class="answer">
                        <p>
                            I want to be an IT Consultant, Project Manager, or Data Analyst. I hope my dreams will come true.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="page6" id="contact">
    <div style="display: flex; justify-content: center;">
        <img src="{% static 'css/Contact-Me.png' %}" alt="contactme" style="width:400px; height:150px">
    </div>

    <div class="contact">
        <div class="wrap-column-contact">
            <div class="wrap-row">
                <div class="margin-contact">
                    <img src="{% static 'css/line.png' %}" alt="email" style="width:65px; height:65px">
                    &nbsp; &nbsp; <strong>yolandaesutanto</strong>
                </div>
            </div>

            <div class="wrap-row">
                <div class="margin-contact">
                    <img src="{% static 'css/instagram.png' %}" alt="instagram" style="width:60px; height:60px">
                    &nbsp; &nbsp; <strong>yolandaesutanto</strong>
                </div>
            </div>

            <div class="wrap-row">
                <div class="margin-contact">
                    <img src="{% static 'css/email.png' %}" alt="line" style="width:72px; height:75px">
                    &nbsp; &nbsp; <strong>yolandaemanuellas@gmail.com</strong>
                </div>
            </div>
        </div>
        
        <div class="button-center-gallery">
            <div class="spacing">
                <button><a href="#home">Back to home</a></button>
            </div>
        </div>

    </div>
</div>
{% endblock %}