.nav-link {
  font-family: Livvic;
  font-size: 18px;
}

.navbar-fixed-top {
  width: 100%;
  overflow-x: hidden;
  z-index: 1;
  position: fixed;
}

h1{
    color:grey;
    font-size: 60px;
    text-align: center;
    font-family: Courgette;
}

.begin{
    font-size:28px;
    text-align: center;
}

.image{
    position: relative;
    left: 150px;
}

.biodata{
    margin: 0rem 1.5rem 0rem 1.5rem;
    width: 40%;
    border: 5px solid rgb(66, 122, 175);
    padding: 10px;
    font-size: 18px;
    justify-content: center;
    font-family: Solway;
}

.tabel{
    font-family: Solway;
    font-size: 18px;
}

.wrap-row{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrap-row-socmed{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 40px;
}

.wrap-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background {
    padding-top: 3.5rem;
}

