.courses {
    background: white;
}

button {
    width: 175px;
    height: 45px;
    font-size: 18px;
    background-color: rgba(206, 240, 222, 0.88);
    color: black;
    text-decoration: none;
    justify-content: right;
}

h2 {
    font-family: Quicksand;
    font-size: 20px;
    text-align: center;
}

h3 {
    font-family: Quicksand;
    font-size: 23px;
    text-align: center;
}

h4 {
    font-family: Quicksand;
    font-size: 45px;
    text-align: center;
}

.wrap {
    max-width: 960px;
    margin: 0 auto;
}

.bordered {
    border-style: solid;
    border-radius: 12px;
    border-width: 3px;
    border-color: black;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #bad48f;
}

.centered {
    text-align: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
    
@media screen and (max-width: 768px) {
    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 18px;
    }

    .centered {
        margin-top: 30px;
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
    }
}

