.course {
    background: linear-gradient(180deg, #5F3496 0%, rgba(92, 69, 153, 0.977941) 0%, rgba(82, 129, 164, 0.9) 33.73%, rgba(113, 129, 109, 0.81) 69.57%, #CDC73E 100%, #504C44 100%);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

button {
    width: 157px;
	height: 40px;
	font-size: 18px;
	background-color: rgba(206, 240, 222, 0.88);
	color: black
	text-decoration: none;
	justify-content: right;
}

h1 {
    text-align: center;
    font-size: 43px;
    font-family: Quicksand;
}

.wrap {
    justify-content: center;
}
