{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style_add_course.css' %}">
    <title>Add Course</title>
</head>
<body>
    <div class="course">
        <button><a href="{% url 'story5:courses' %}">See my courses!</a></button>
        <h1><b style="color:white">Add your courses!</b></h1>
        <div class="wrap">
            <form action="{% url 'story5:add_course' %}" method="POST">
                {% csrf_token %}
                {% for field in course_form.visible_fields %}
                <div class="form-group">
                    <div class="col-sm-6 offset-sm-3">
                        <h5>{{field.label_tag}} {{field}}</h5>
                    </div>
                </div>
                {% endfor %}
                <div style="text-align: center"><button type="submit">Add course</button></div>
            </form>
        </div>
    </div>
</body>
</html>