{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style_course_detail.css' %}">
    <title>Course Detail</title>
</head>
<body>
    <div class="courses">
        <button><a href="{% url 'story5:courses' %}">Back to courses</a></button>

        <div class="centered">
            <div class="bordered">
                <h3><b>{{ course_content.name }}</b></h3>
                <h2>Dosen: {{ course_content.lecturer }}</h2>
                <h2>SKS: {{ course_content.sks }}</h2>
                <h2>Deskripsi Mata Kuliah: {{ course_content.description }}</h2>
                <h2>Tahun Ajaran: {{ course_content.period }}</h2>
                <h2>Ruang Kelas: {{ course_content.classroom }}</h2>
                <h2><b><a style="color: black" href="{% url 'story5:delete_course' id=course_content.id %}">Delete courses</a></b></h2>
            </div>
        </div>
    </div>
</body>
</html>
