{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/stylestory5.css' %}">
    <title>Course</title>
</head>
<body>
    <div class="courses">
        <button><a href="{% url 'story5:add_course' %}">Add more courses!</a></button>
        <div class="wrap">
            {% if courses.count %}
            <h1>My Courses:</h1>
            {% for courses_content in courses %}

            <div class="bordered">
                <h3><b><a href="{% url 'story5:course_detail' id=courses_content.id %}">{{ courses_content.name }}</a></b></h3>
                <h2>Dosen: {{ courses_content.lecturer }}</h2>
                <h2>SKS: {{ courses_content.sks }}</h2>
                <h2><b><a style="color: black" href="{% url 'story5:delete_course' id=courses_content.id %}">Delete courses</a></b></h2>
            </div>

            {% endfor %}
            {% else %}
            <div class="else">
                <h4><b style="color: black">Add your first course!</b></h3>
                <button><a href="{% url 'story5:add_course' %}">Add here!</a></button>
            </div>

            {% endif %}
        </div>
    </div>
</body>
</html>
