{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Livvic:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Livvic:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rosarivo&family=Solway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% block css %}
    {% endblock %}
    <title>{{ title }}</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'story3:story3page' %}#home">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'story3:story3page' %}#aboutme">About Me</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'story3:story3page' %}#skills">Skills</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'story3:story3page' %}#experience">Experience</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'story3:story3page' %}#faq">FAQ</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'story3:story3page' %}#contact">Contact</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'story3:gallery' %}">Gallery</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'story1:story1page' %}">Story 1</a>
            </li>
          </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
